* {
  margin: 0;
  box-sizing: border-box;
}
.col-lg-2 {
  border-top: 1px solid#d4caca;
}
.col-lg-10 {
  border-top: 1px solid#d4caca;
}
.col-lg-1 {
  border-top: 1px solid#d4caca;
}
.col-lg-11 {
  border-top: 1px solid#d4caca;
}
.col-lg-6 {
  border-top: 1px solid#d4caca;
}
.project {
  font-weight: bold;
}
.inout {
  font-weight: bold;
  font-size: 20px;
}
h1 {
  color: rgb(76, 76, 237);
}
#timeline {
  border: 1px solid rgb(135, 132, 132);
  border-radius: 50%;
  background-color: rgb(120, 126, 230);
  margin: auto;
  display: flex;
  justify-content: center;
}
#border1 {
  border: 5px solid blue;
  border-top: 10px solid blue;
  border-left: 10px solid blue;
}
#border2 {
  border: 5px solid blue;
  border-top: 10px solid blue;
}
#border3 {
  border: 5px solid blue;
  border-left: 10px solid blue;
  border-bottom: 10px solid blue;
}
#border4 {
  border: 5px solid blue;
  border-bottom: 10px solid blue;
}
#border5 {
  border-left: 5px solid blue;
  border-top: 10px solid blue;
  border-right: 10px solid blue;
  border-bottom: 10px solid blue;
}
.icon {
  margin-top: 20px;
  background-color: blueviolet;
  border-radius: 50%;
}
