@media (min-width: 768px) and (max-width: 1024px) {
  .text-nav {
    display: none;
  }
  #nav-bar a:link,
  a:visited {
    padding: 20px;
    margin-right: 1rem;
    padding-bottom: 30px;
  }
  #nav-bar {
    margin-top: 20px;
  }
  #inforabout-a {
    font-size: 16px;
    height: 400px;
  }
  #target {
    height: 400px;
  }

  #target {
    font-size: 16px;
    height: 408px;
    margin-top: 20px;
  }
  #job-info {
    height: inherit;
  }
  .cer-content {
    flex-direction: column;
    gap: 30px;
  }
  .project-1 {
    font-size: 14px;
  }
  .project-2 {
    font-size: 10px;
    padding: 10px 4px !important;
  }
  .project-2 span {
    margin-right: 5px !important;
  }
  td {
    font-size: 12px;
  }
  tr td:first-child {
    width: 25%;
  }
}
