@media (min-width: 768px) and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  .col-lg-1 {
    text-align: center;
  }
  .col-lg-11 {
    border-top: 0;
  }
  #timeline {
    margin: auto;
  }
  .col-lg-2 {
    text-align: center;
  }
  .col-lg-10 {
    border-top: 0;
  }
  #border1,
  #border2,
  #border3,
  #border4,
  #border5 {
    border: 10px solid blue;
  }
  #border3 {
    margin-top: 100px;
  }
}
